
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name="theme-color" content="hsl(267, 86%, 40%)")
        meta(name="msapplication-navbutton-color" content="#607d8b")
        title Converge
        script(src='https://kit.fontawesome.com/02c2434f59.js' crossorigin='anonymous')
        link(rel="manifest" href="manifest.json")
        link(rel='stylesheet' href='/css/grid.css')
        link(rel="stylesheet", href="/css/slider.css")
    body
        .container(data-user=`${user}`)
          .account-actions.child
              .main.children
                .profile-details.settings
                    .img-div
                        .img-cover
                            img.profile-img-det(src=`${photo_url}`, alt="", srcset="")
                    .name
                        h5 #{fullname}
              .inactive-closer.children
                
          .messages-area.child
              .top
                .actions
                    .img-cover.p-img-desktop
                        img.profile-img-det(src="/src/img/download.png", alt="profile image")
                .actions-mobile
                  .app-name
                    span Converge
                  .search-box
                    input.search-txt(type="text", placeholder="Search")
                    a(href="#").search-btn
                      i.fas.fa-search
                  .menu.actions-action
                    i.fas.fa-bars    
                .search-container
                    input.search-txt.desktop(type='text' placeholder='Search')
                    
              .messages-div.active-left
                  each friend in friends
                      .message(data-img='/src/img/download.png' data-username=`${friend.username}`)
                          .image-div
                              img.friend-avatar(src='/src/img/download.png' alt='image of friend' srcset='')
                          .msg-text-name
                              .friend-name
                                  span#username #{friend.first_name + ' ' + friend.last_name}
                              .msg-content
                                  span.msg-span #{friend.messages[friend.messages.length-1]}
              .search-div.inactive-left
                  

          .main-area.child
              .chat-header
                .back
                    i.fas.fa-arrow-left
                .friend-header-img-div
                    .img-container
                      img#header-img.friend-avatar.header-img(src='' alt='profile picture' srcset='')
                .main-header
                  .name
                    span#header-username Yvonne Jeffrey
                  .lastseen
                    span#lastseen ...
                .header-actions
                  span.action
                    i.fas.fa-search.header-icon
                  span.action
                    i.fas.fa-paperclip.header-icon
                  span#more.action
                    i.fas.fa-ellipsis-v.header-icon
              .chat-area
                         
              .chat-form
                .emoji-div.form-action
                    i.far.fa-grin.form-icon
                .msg-input
                    input#message-box(name='' placeholder='Type a message')
                .send-div.form-action.submit
                    i.fas.fa-paper-plane.form-icon
          .profile.you-profile.child
            .actions-mobile
              .action.back2
                i.fas.fa-arrow-left
              .action-header
                span
                  |Settings
            .body
              .details
                .img-div.action.pxr-2
                  .img-cover
                    img.profile-img.profile-img-det(src=`${photo_url}`, alt="", srcset="")
                .name
                   h4 #{fullname}
              .profile-actions.px-2
                ul.action-list
                  li.p-action
                    form.update-img(action="/updateprofile", method="POST" enctype="multipart/form-data")
                      input(type="file" name="avatar" id="file" accept=".jpg,.jpeg,.png")
                      label(for="file") Upload Photo
                  hr
          .profile.friend-profile.child 
             .actions-mobile
              .action.back3
                i.fas.fa-arrow-left
              .action-header
                span.profile-name
                  |Contact Info
             .body
              .details
                .img-div.action.pxr-2
                  .img-cover
                    img.profile-img.profile-img-friend(src="null", alt="", srcset="")
                .name
                   h4.f-fullname
              .profile-actions.px-2
                ul.action-list
                  li.p-action.s-m
                     |Send message
                  hr

        #dropdown
          ul
            li View Contact
            li Media, links, docs
            li Search
            li Mute
            li Wallpaper
            li More


          
        script(src="/socket.io/socket.io.js")
        script(src="/js/jquery-3.4.1.min.js")
        script(src="/js/chat.js" type="module")
        script(src="/js/main.js")